.page {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;

  padding: 50px 200px;
  /* gap: 20px; */

  padding: 50px 0;
  margin: 0 auto;
  width: 1000px;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 100%;
}

.dots {
  display: flex;
  align-items: center;
  gap: 10px;
}

.editProfile {
  margin: 0 0 auto auto;
}

.achievement {
  display: flex;
  align-items: center;
  gap: 12px;

  border-radius: 6px;
  border: 1px solid var(--control-borderColor-rest);

  padding: 12px 16px;
  margin-bottom: 16px;
}

.achievementTitle {
  display: block;
  margin-bottom: 8px;
}

.achievementDate {
  margin-left: auto;
}

.certificateTitle {
  text-shadow: 1px 1px 2px #000;
}

.certificateDescription {
  color: var(--brand-color-text-default);
}

.certificateLabel {
  background-color: darkgreen;
  margin-top: 40px;
}

.redeemCertificate {
  margin: 24px auto 0 auto;
}

.avatar {
  object-fit: cover;

  margin-top: 10px;

  width: 55px;
  height: 55px;
  min-width: 55px;
  min-height: 55px;
}

@media (max-width: 1000px) {
  .page {
    padding: 0;

    width: 90%;
  }

  .avatar {
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
  }
}
