@import '@primer/primitives/dist/css/primitives.css';
@import '@primer/primitives/dist/css/functional/themes/light.css';
@import '@primer/primitives/dist/css/functional/themes/dark.css';

@import '@primer/react-brand/lib/css/main.css';
@import '@primer/react-brand/fonts/fonts.css';

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,strong,b {
  font-weight: 500
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

/* accessibility */

html.high-contrast {
  filter: contrast(150%);

  /* input {
    background-color: #888;
  } */
}

html.larger-font {
  font-size: 20px;
}

/* users/[username] */
tab-container {
  margin-top: 16px;
  width: 100%;

  div[role="tabpanel"] {
    padding: 16px 0;
  }
}

div[class^="prc-Blankslate-Container"] {
  width: 100%;
  container: unset;
}

/* exercises/[id] */

.progress {
  span {
    transition: width 1s;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 13px;
  }

  /* users/[username] */

  div[class^="Primer_Brand__BreakoutBanner-module__BreakoutBanner-container"] {
      padding: 20px;
  }
}
