.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 1rem 0;
}

.chartBox {
  background-color: #0d1117;
  border: 1px solid #212830;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  color: #999;
  text-align: center;
  padding: 3rem;
}

.chartHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1.5rem;
}

.chartBox h3 {
  color: #eee;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1rem;
}

.infoIcon {
  color: var(--fgColor-muted);
}

.infoButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  display: flex;
  align-items: center;
  cursor: help;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}